<div class="navbar bg-base-100 shadow-xl">
  <div class="navbar-start">
    <a class="btn btn-ghost text-xl">
      <img class="size-10 rounded-box" src="/assets/chat.svg" alt="Login Gmail"/>  
      Chat App
    </a>
  </div>

  <div class="navbar-end">
    @if(isLoading$ | async){
      <a class="btn">
        <app-loading/>
        Cargando...
      </a>
    } @else {
      @if(isLoggedIn$ | async) {
        <a class="btn" (click)="logout()">
          <img class="size-6 rounded-box" src="/assets/logout.svg" alt="Logout Gmail"/>      
          Cerrar Sesión
        </a>
      } @else {
        <a class="btn" (click)="login()">
          <img class="size-6 rounded-box" src="/assets/google.svg" alt="Login Gmail"/>      
          Iniciar Sesión
        </a>   
      }  
    }
  </div>
</div>