<fieldset class="w-full flex items-center gap-4 bg-base-200 border-base-300 border rounded-box p-4 shadow-2xl">
  <input type="email" class="input input-bordered flex-1" placeholder="Crear Sala" />
  <button class="btn btn-neutral">Crear</button>
</fieldset>

<ul class="list bg-base-100 rounded-box shadow-md mt-4">
  
  <li class="p-4 pb-2 text-xs opacity-60 tracking-wide">Lista de Salas Creadas</li>
  
  @if (isLoading()) {
    <app-loading></app-loading>
  } @else {
    @if (!apiResponseRoom()?.isSuccess) {
      <app-error
        [statusCode]="apiResponseRoom()?.statusCode"
        [message]="apiResponseRoom()?.message">
      </app-error>
    } @else {
      @for(room of apiResponseRoom()?.data; track room.id; let i = $index) {
        <li class="list-row">
          <div class="text-4xl font-thin opacity-30 tabular-nums">{{ i + 1 }}</div>
          <div class="list-col-grow">
            <div>{{ room.id }}</div>
            <div class="text-xs uppercase font-semibold opacity-60">{{ room.name }}</div>
          </div>
          <button class="btn btn-ghost">
            Entrar
          </button>
        </li>
      }
    }
  }

</ul>