<ul class="list bg-base-100 rounded-box shadow-md">
  
  <li class="p-4 pb-2 text-xs opacity-60 tracking-wide">Lista de Usuarios Conectados</li>
  
  @if (isLoading()) {
    <app-loading></app-loading>
  } @else {

    @if (!apiResponseUser()?.isSuccess) {
      <app-error
        [statusCode]="apiResponseUser()?.statusCode"
        [message]="apiResponseUser()?.message">
      </app-error>
    } @else {

      @for (user of apiResponseUser()?.data; track user.id; let i = $index) {
        <li class="list-row">
          <div class="text-4xl font-thin opacity-30 tabular-nums">{{ i + 1 }}</div>
          <div><img class="size-10 rounded-box" src="/assets/user.svg" alt="User"/></div>
          <div class="list-col-grow">
            <div>{{ user.id }}</div>
            <div class="text-xs uppercase font-semibold opacity-60">{{ user.username }}</div>
          </div>
          <button class="btn btn-ghost">
            Entrar  
          </button>
        </li>
      }
    }
  }

</ul>